*
!.gitignore

!git/
!git/**/*

!lazygit/
!lazygit/**/*

!nvim/
!nvim/**/*

!starship/
!starship/**/*

!tmux/
!tmux/**/*
tmux/plugins/

!wezterm/
!wezterm/**/*

!zsh/
!zsh/**/*
zsh/private/
zsh/private/**/*

!README.md
