*
!.gitignore
!.gitmodules

!git/
!git/**/*

!lazygit/
!lazygit/**/*

!nvim

!starship/
!starship/**/*

!tmux/
!tmux/**/*
tmux/plugins/

!wezterm/
!wezterm/**/*

!zsh/
!zsh/**/*
zsh/private/**/*
!zsh/private/.gitkeep

!bash/
!bash/**/*
bash/private/**/*
!bash/private/.gitkeep

!sh/
!sh/**/*
sh/private/**/*
!sh/private/.gitkeep

!README.md

# Always ignore
**/.claude/
**/.zcompdump
*.tmp
*.swp
*~
